/* @import "tailwindcss";

:root {
  --color-primary: #5f6fff;
  --color-primary-foreground: #ffffff;
} */

main {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  font-size: 0.9rem;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
}

input, select, button {
  font-size: 0.8rem;
}
