/* @import "tailwindcss";

:root {
  --color-primary: #5f6fff;
  --color-primary-foreground: #ffffff;
} */

main {
  width: 100%;
  height: 100%;
  max-width: 100vw;
}

*{
  margin: 0;
  box-sizing: border-box;
}
