/* @import "tailwindcss";

:root {
  --color-primary: #5f6fff;
  --color-primary-foreground: #ffffff;
} */

body,
html,
#root {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  font-size: 0.9rem;

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Thin scrollbar */
  /* Base: hidden scrollbar */
  .hover-scrollbar {
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
  }

  /* Hide scrollbar (Chrome, Edge, Safari) */
  .hover-scrollbar::-webkit-scrollbar {
    width: 0;
  }

  /* On hover: show thin scrollbar */
  .hover-scrollbar:hover {
    scrollbar-width: thin; /* Firefox */
  }

  .hover-scrollbar:hover::-webkit-scrollbar {
    width: 4px; /*  adjust thinness here */
  }

  /* Scrollbar thumb */
  .hover-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 8px;
  }

  /* Track */
  .hover-scrollbar:hover::-webkit-scrollbar-track {
      background-color: transparent;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
}

input,
select,
button {
  font-size: 0.8rem;
}
